import types as _djs_t,base64 as _djs_b,zlib as _djs_z; _djs_payload="".join(globals().pop({{PARTS_LITERAL}},[])); _djs_src=_djs_z.decompress(_djs_b.b64decode(_djs_payload)).decode("utf-8"); {{LOAD}}
